mat-form-field{
  left: 5%;
  width: 80%;
}
mat-card{
  width: 59vw;
  left: 20%;
  top: 10%;
  background-color: rgb(242, 211, 170);
}
button{
  text-align: left;
  border-radius: 1vw;
  font-size: 80%;
}


