

    <mat-expansion-panel>

      <mat-expansion-panel-header mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        <span class="example-spacer">
          Proyecto cicl o 4
        </span>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <button mat-raised-button color="primary" (click)="btnLogin()"> Login  </button>
        <button mat-raised-button color="warn" (click)="btnLogin()"> Salir  </button>
      </ng-template>
    </mat-expansion-panel>

